.searchForm {
    width: 100%;
}

.searchForm__radio:hover {
    cursor: pointer;
}

.searchForm__conteiner {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding-top: 70px;
}

.searchForm__active {
    display: flex;
    align-items: center;
    margin-top: 26px;
}

.searchForm__shortfilms {
    margin: 0;
    margin-left: 14px;
    font-weight: 400;
    font-family: 'Inter', 'Arial', 'Helvetica';
    font-size: 13px;
    line-height: 18px;
}

.searchForm__checkbox {
    display: none;
}

.searchForm-radio {
    cursor: pointer;
}

.searchForm__box{
    width: 100%;
    padding-bottom: 44px;
    position: relative;
    border-bottom: 1px solid #aaaaaa21;
    z-index: 1;
}

.searchForm__input {
    width: 100%;
    height: 72px;
    border: 1.5px solid #AAAAAA;
    border-radius: 8px;
    opacity: 0.2;
    font-family: 'Inter', 'Arial', 'Helvetica';
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    padding: 25px;
    box-sizing: border-box;
}

.searchForm__button {
    width: 100px;
    height: 52px;
    border: none;
    background: #3456F3;
    border-radius: 5px;
    color: #fff;
    font-family: 'Inter', 'Arial', 'Helvetica';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    position: absolute;
    right: 10px;
    top: 10px;
}

.error {
    height: 20px;
    margin: 0 auto;
    margin-right: 40%;
    font-family: 'Inter', 'Arial', 'Helvetica';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: red;
}

.error__unvisible {
    display: none;
}

.searchForm__button:hover {
    cursor: pointer;
    opacity: 0.8;
}

@media screen and (max-width: 1280px) {
    .searchForm__conteiner {
        max-width: 1140px;
    }
}

@media screen and (max-width: 768px) {
    .searchForm__conteiner {
        max-width: 300px;
    }
}

@media screen and (max-width: 768px) {
    .searchForm__input {
        height: 56px;
        padding: 0 0 0 12px;
        font-size: 16px;
        line-height: 16px;
    }
}

@media screen and (max-width: 768px) {
    .searchForm__button {
        width: 80px;
        height: 44px;
        top: 7px;
        right: 7px;
    }
}

@media screen and (max-width: 768px) {
    .searchForm__active {
        margin-top: 30px;
    }
}