.header {
    padding: 18px 0;
}

.header::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #000;
    height: 1024px;
    z-index: 3;
    opacity: 0.3;
    display: none;
}

.header::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 520px;
    height: 1024px;
    background-color: #fff;
    z-index: 5;
    display: none;
}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__burger {
    background-image: url(../../images/icon__COLOR_icon-main.svg);
    background-repeat: no-repeat;
    width: 44px;
    height: 44px;
}

.header__burgerText {
    position: absolute;
    z-index: 10;
    margin: 0;
    width: 340px;
    text-align: center;
    right: 90px;
    font-family: 'Inter', 'Arial', 'Helvetica';
    font-size: 13px;
    line-height: 18px;
}

.text1 {
    top: 159px;
}

.text2 {
    top: 209px;
    right: 224px;
    width: 72px;
    border-bottom: 2px solid black;
}

.text3 {
    top: 259px;
}

.header__close {
    position: absolute;
    z-index: 10;
    top: 22px;
    right: 22px;
}

.header__close:hover {
    cursor: pointer;
}

.header__box {
    display: flex;
    align-items: center;
}

.header__link {
    text-decoration: none;
    color: black;
    font-family: 'Inter', 'Arial', 'Helvetica';
    font-size: 13px;
    line-height: 18px;
}

.films {
    font-weight: 500;
    margin-left: 44px;
}

.saved {
    font-weight: 400;
    margin-left: 16px;
}

.header__link {
    font-family: 'Inter', 'Arial', 'Helvetica';
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-decoration: none;
    margin-right: 20px;
    color: black;
}

.header__profile {
    width: 100px;
    height: 32px;
}

@media screen and (max-width: 1280px) {
    .header__profile {
        display: none;
    }
}

@media screen and (max-width: 1280px) {
    .header__link {
        display: none;
    }
}

@media screen and (min-width: 1281px) {
    .header__burger {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .header__link {
        font-size: 10px;
    }
}